<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/download.css">
    <title>Descarga Hermes para hablar, chatear y pasar el rato</title>
</head>
<body>
    <header>
        <nav>
            <div id="Logo_Image">
                <a href="#">
                    <img src="../static/img/Logo_Hermes.png" alt="">
                </a>
            </div>
            <ul>
                <li><a href="">Descargar</a></li>
                <li><a href="">Nitro</a></li>
                <li><a href="">Descubrir</a></li>
                <li><a href="">Seguridad</a></li>
                <li><a href="">Soporte Técnico</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Empleos</a></li>
            </ul>
            <div id="btn_nav">
                <button>Ingresar</button>
                <button id="list_nav"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                  </svg></button>
            </div>
        </nav>
        <div id="info-download">
            <div id="message-download">
                <h1>OBTÉN HERMES PARA CUALQUIER DISPOSITIVO</h1>
                <p>Te espera una aventura. Pasa el rato con tus amigos en nuestra aplicación de escritorio y mantén la conversación en el móvil.</p>
                <div>
                    <button id="btn_download"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                      </svg><b>Descargar para Linux</b></button><span>64-bit Linux requerido</span>
                </div>
            </div>
            <div id="img-linux-dw">
                <img src="../static/img/download_section/6582bf1bfda01c6891c3931d_linux.svg" alt="">
            </div>
        </div>
    </header>
</body>
</html>