<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" href="../static/img/Logo_Hermes.png" type="image/x-icon">
    <title>HERMES | Tu lugar para hablar y pasar el rato</title>
</head>
<body>
    <header>
        <nav>
            <div id="Logo_Image">
                <a href="/">
                    <img src="../static/img/Logo_Hermes.png" alt="">
                </a>
            </div>
            <ul>
                <li><a href="">Descargar</a></li>
                <li><a href="">Nitro</a></li>
                <li><a href="">Descubrir</a></li>
                <li><a href="">Seguridad</a></li>
                <li><a href="">Soporte Técnico</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Empleos</a></li>
            </ul>
            <div id="btn_nav">
                <button id="btn_ingresar">Ingresar</button>
                <button id="list_nav"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                  </svg></button>
            </div>
        </nav>
        <div id="Message_Index">
            <div id="message_h1"><h1>VISUALIZA UN ESPACIO...</h1></div>
            <div id="message_h3"><h3>...donde puedes integrarte en un club estudiantil, un conjunto de aficionados o una red global de expresión artística. Un sitio donde compartes momentos con compañeros cercanos. Un entorno que facilita la comunicación diaria y el disfrute frecuente.</h3></div>
            <div id="Btns">
                <button id="btn_download"><b>Descargar para Windows </b><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                  </svg></button>
                <button id="btn_Nav"><b>Abrir Hermes en tu Navegador</b></button>
            </div>
        </div>
    </header>
    <main>
        <section id="section_A">
            <div id="img-channels">
                <img src="../static/img/Canales_Index_en.png" alt="">
            </div>
            <div id="message-channels">
                <h1>Crea un lugar exclusivo para miembros donde puedas conectarte</h1>
                <h4>Los canales de HERMES están meticulosamente organizados por temas, ofreciéndote la oportunidad de colaborar, compartir, o simplemente relajarte y conversar sobre tus vivencias sin sobrecargar un chat grupal.</h4>
            </div>
        </section>
        <section style="background-color: #F0F3FA;" id="section_B">
            <div id="message-channels-voice">
                <h1>Disfruta de un ambiente relajado y acogedor</h1>
                <h4>Simplemente accede a un canal de voz cuando tengas tiempo disponible. Tus amigos en el servidor podrán notar que estás disponible y unirse al instante para entablar una conversación sin necesidad de hacer una llamada.</h4>
            </div>
            <div id="img-channels-voice">
                <img src="../static/img/Chanels_Voice_en.png" alt="">
            </div>
        </section>
        <section id="section_C">
            <div id="img-perfil">
                <img src="../static/img/Contactos_Perfil.png" alt="">
            </div>
            <div id="message-perfil">
                <h1>Desde unos cuantos seguidores hasta una comunidad próspera</h1>
                <h4>Construye tu propio espacio comunitario con herramientas de moderación y personalización de acceso para los miembros. Otorga permisos especiales, configura canales privados y explora una variedad de opciones adicionales.</h4>
            </div>
        </section>
        <section style="background-color: #F0F3FA;" id="section_D">
            <div id="message_chatbox">
                <h1>UNA TECNOLOGÍA CONFIABLE PARA MANTENERSE CONECTADOS</h1>
                <h4>Con voz y vídeo de baja latencia, la experiencia es como si estuvieran juntos en la misma habitación. Saluden a la cámara, sintonicen las transmisiones de juegos de tus amigos, o reúnanse para disfrutar de una sesión de dibujo compartiendo la pantalla.</h4>
            </div>
            <div id="image-videocall">
                <img src="../static/img/Videollamada.svg" alt="">
            </div>
            <div id="message-download">
                <h2>¿Todo listo para comenzar tu viaje?</h2>
                <button><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                  </svg> Descargar para Windows</button>
            </div>
        </section>
    </main>
    <footer>
        <div id="Info">
            <div id="lang-social">
                <select name="language" id="lang">
                    <option value="esp" data-image="../static/img/flags/espana.png">Español</option>
                    <option value="eng" data-image="../static/img/flags/reino-unido.png">English</option>
                </select>                
                <ul>
                    <li><a href=""><img class="svg-icon" src="../static/img/icons_socialmedias/twitter-x.svg" alt="svg"></a></li>
                    <li><a href=""><img class="svg-icon" src="../static/img/icons_socialmedias/instagram.svg" alt=""></a></li>
                    <li><a href=""><img class="svg-icon" src="../static/img/icons_socialmedias/facebook.svg" alt=""></a></li>
                    <li><a href=""><img class="svg-icon" src="../static/img/icons_socialmedias/youtube.svg" alt=""></a></li>
                    <li><a href=""><img class="svg-icon" src="../static/img/icons_socialmedias/tiktok.svg" alt=""></a></li>
                </ul>                
            </div>
            <div id="data-info">
                <ul><span>Producto</span>
                    <li><a href="">Descargar</a></li>
                    <li><a href="">Nitro</a></li>
                    <li><a href="">Estado</a></li>
                    <li><a href="">Directorio de Aplicaciones</a></li>
                    <li><a href="">Nueva experiencia móvil</a></li>
                </ul>
                <ul><span>Compañia</span>
                    <li><a href="">Sobre nosotros</a></li>
                    <li><a href="">Marca</a></li>
                    <li><a href="">Empleo</a></li>
                    <li><a href="">Noticia</a></li>
                </ul>
                <ul><span>Recursos</span>
                    <li><a href="">Universidad</a></li>
                    <li><a href="">Soporte técnico</a></li>
                    <li><a href="">Seguridad</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Opiniones</a></li>
                    <li><a href="">StreamKit</a></li>
                    <li><a href="">Los creadores</a></li>
                    <li><a href="">Comunidad</a></li>
                    <li><a href="">Desarrolladores</a></li>
                    <li><a href="">Videojuegos</a></li>
                    <li><a href="">Merchandising oficial de terceros</a></li>
                </ul>
                <ul><span>Políticas</span>
                    <li><a href="">Condiciones</a></li>
                    <li><a href="">Privacidad</a></li>
                    <li><a href="">Configuracion de cookies</a></li>
                    <li><a href="">Directivas</a></li>
                    <li><a href="">Agradecimientos</a></li>
                    <li><a href="">Licencias</a></li>
                    <li><a href="">Información de la empresa</a></li>
                </ul>
            </div>
        </div>
        <div id="nav_footer">
            <div id="logo_image_footer">
                <a href="#">
                    <img src="../static/img/Logo_Hermes.png" alt="">
                </a>
            </div>
            <div id="btn-register">
                <button>Regístrate</button>
            </div>
        </div>
    </footer>
    <script src="../static/js/home.js"></script>
</body>
</html>