<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beneficios Nitro para Usuarios</title>
</head>
<body>
    <header>
        <nav>
            <div id="Logo_Image">
                <a href="#">
                    <img src="../static/img/Logo_Hermes.png" alt="">
                </a>
            </div>
            <ul>
                <li><a href="">Descargar</a></li>
                <li><a href="">Nitro</a></li>
                <li><a href="">Descubrir</a></li>
                <li><a href="">Seguridad</a></li>
                <li><a href="">Soporte Técnico</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Empleos</a></li>
            </ul>
            <div id="btn_nav">
                <button>Ingresar</button>
                <button id="list_nav"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                  </svg></button>
            </div>
        </nav>
    </header>
</body>
</html>